node_modules
.next
out
.firebase*
.gitignore
.eslintignore
.prettierignore
.stylelintignore
*svg
*png
*ico
public/assets/*webp
public/assets/*png
public/assets/*jpg
.env
.env.development
.env.production
yarn.lock
.gitkeep